       <div class="row">
                <div class="tweet">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
                              <h3 class="name">Patricia Knott</h3>
                        </div>
                        <div class="tweet-content"> 
                            <h4 class="title">Un développeur web est un informaticien spécialisé dans la programmation ou expressément impliqué dans le développement des applications du World Wide Web, ou des applications qui sont exécutées ... Wikipédia</h4>
                        </div>
                     </div>
                </div>
         </div>